#todaysClassesSlideOut {
  position: fixed;
  width: 33rem;
  height: auto;
  top: 3rem;
  left: 0;
  /* Animation  */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  font-family: sans-serif;

  .slideout__content {
    border: 1px solid #ccc;
    min-height: 200px;
    padding: 20px;
    background: #fff;
    border-bottom-right-radius: 10px;
  }

  .slideOutTab:hover {
    cursor: pointer;
  }

  .slideOutTab {
    margin-top: 0;
    position: absolute;
    left: 33rem;
    height: 30px;
    width: 30px;
    background: $color-secondary-light;
    border-radius: 0px 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primary-dark;
  }

  h3 {
    font-weight: bold;
    color: $color-primary-dark;
  }
  h2 {
    font-size: 1.25em;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    font-weight: normal;
    color: #333;
  }
  .slideOutTab:after {
    content: "\2212";
    left: -1.5rem;
    position: relative;
  }
  .plusSign:after {
    content: "\002B";
    left: -1.5rem;
    position: relative;
  }
  a {
    color: $color-primary-dark;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
  }
}

.hideSlideOut {
  left: -33rem !important;
}

#todaysClasses {
  line-height: 3.5rem;
  hr {
    margin: 6px 0;
  }
}
