.slideOut {
	position: fixed;
	width: 300px;
	height: auto;
	top: 175px;
	right: 0;
	/* Animation  */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	font-family: sans-serif;
	z-index: 50;
	animation: fadeInWebinarSlider 1s;
	animation-delay: 3s;
	opacity: 0;
	animation-fill-mode: forwards;
  }

  @keyframes fadeInWebinarSlider {
	from {opacity: 0;}
	to {opacity: 100%;}
  }

  .slideOut .slideOutTab:hover {
	cursor: pointer;
  }
  .hideSlideOut {
	right: -300px !important;
  }
  .slideOut .slideOutTab {
	display: flex;
	justify-content:center;
	align-items: center;
	position: absolute;
	margin-top: 0;
	left: -30px;
	height: 30px;
	width: 30px;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	background: #1094f4;
	border-radius: 5px 0px 0px 5px;
	color: #fff;
  }