.section-about {
  padding: 25rem 0 10rem;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-membership {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/boxing-glove.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  background-position: bottom;

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-boxing, .section-schedule {
  padding: 15rem 0 5rem;
  position: relative;

  @include respond(tab-land) {
    padding: 1.5rem;
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.facebook-bar {
  position: fixed;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;

  a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;

    &:hover {
      background-color: #000;
    }

  }

  .facebook {
    background: #3B5998;
    color: white;
  }
  
}
