.alert-box {
  background: #2998ff;
  color: #fff;
  font-size: 1.75rem;
  width: 80vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  border-bottom-right-radius: 10px;

  span {
    color: $color-secondary-light;
    font-weight: bold;
  }

  a {
    color: $color-secondary-light
  }
}
.section-about {
  padding: 25rem 0 10rem;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0 5rem;
  }
}

.section-team-training {
  background: #eee;
  padding: 5rem 0 10rem;
}

.section-membership,
.section-outreach {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/boxing-glove.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  background-position: bottom;

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-outreach {
  margin-top: -16rem;

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: 1em;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align:left;
  }
  }
.section-boxing,
.section-schedule {
  padding: 15rem 0 5rem;
  position: relative;

  @include respond(tab-land) {
    padding: 1.5rem;
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.vsl img {
  @include respond(tab-port) {
    width: 100%;
  }
}